<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ApiTests" thread-count="2" parallel="tests" >
<test name="Test1">
    <classes>
        <class name="tests.ApiTests">
            <methods>
                <include name="pokemonTest" />
            </methods>
        </class>
    </classes>
</test>
<test name="Test2">
    <classes>
        <class name="tests.ApiTests">
            <methods>
                <include name="pokemonLimitTest" />
            </methods>
        </class>
    </classes>
</test>

</suite>